=========================
Python
=========================

pycache/
*.py[cod]
*$py.class

=========================
Virtual Environment
=========================

.venv/
venv/
env/
ENV/

=========================
Distribution / Packaging
=========================

build/
dist/
*.egg-info/
.eggs/

=========================
Logs & Temp
=========================
logs/
*.log
*.tmp
*.swp
.DS_Store

=========================
Jupyter Notebook
=========================

.ipynb_checkpoints/

=========================
IDE / Editor
=========================

.vscode/
.idea/

=========================
Environment variables
=========================

.env
.env.*

=========================
Data files 
=========================

data/
*.csv
*.xlsx

=========================
Model files (ML/AI)
=========================

*.pkl
*.joblib
models/

=========================
Cache
=========================

.cache/
.pytest_cache/
.mypy_cache/

=========================
OS files
=========================

Thumbs.db
