contourpy
customtkinter
cycler
darkdetect
fonttools
imbalanced-learn
imblearn
joblib
kiwisolver
matplotlib
numpy
nvidia-nccl-cu12
packaging
pandas
pillow
pyparsing
python-dateutil
scikit-learn
scipy
seaborn
six
sklearn-compat
threadpoolctl
xgboost
